.tabs {
  display: flex;
  padding: 10px;
  gap: 14px;
  margin: r;
  background-color: rgba($color: white, $alpha: 0.25);
  border-radius: 12px;
}

.tab-title {
  display: flex;
  padding: 18px;
  background-color: rgba($color: black, $alpha: 0.1);
  cursor: pointer;
  .i {
    color: #222;
  }
}
